node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# expo router
expo-env.d.ts



ios
android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.env.*
# Project uses yarn, not npm
package-lock.json

# Ignore everything inside .yarn except the necessary subdirectories
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore Yarn's global cache (not needed for Zero-Installs)
.yarn/cache

# Ignore build artifacts
.yarn/build-state.yml
.yarn/install-state.gz